@import 'normalize';
$light-grey: #c3c0c0;
$red: #eb5757;
$brown: #d59152;
$dark-brown: #d78e52;
$light-brown: #febe61;

body,
html {
  font-family: 'Catamaran', sans-serif;

  width: 100%;
  height: 100%;
}

header {
  height: 100%;

  color: white;
  background: linear-gradient($red, $brown);
}



/* components */

.btn {
  display: block;

  margin: 0 auto;
  padding: 15px 30px;

  text-align: center;
  text-transform: uppercase;

  border-radius: 500px;
}




/* typography */

h1 {
  font-size: 3.5em;
}

p {
  font-size: 1.1em;
  line-height: 24px;
}



/* navbar */

.nav {
  position: relative;

  padding: 10px 20px;

  &__links {
    position: absolute;

    width: 300px;
    margin-left: -20px;

    transition: transform .3s ease;
    text-transform: uppercase;

    background: $red;

    &_collapsed {
      transform: translate(-300px, 0);
    }

    &_expanded {
      transform: translate(0, 0);
    }

    a {
      display: block;

      padding: 15px 0;
      &:hover {
        background: white;
        color: $red;
        font-weight: bold;
      }
    }

    ul {
      border-top: 1px solid white;
      padding-left: 20px;
      padding-bottom: 20px;
    }
  }
  &__btn {
    width: 80%;
    margin-bottom: 20px;

    color: white;
    background: rgba(255, 255, 255, .2);
    &:hover {
      background: rgba(255,255,255,.5);
    }
  }
}

.nav-header {
  display: flex;

  justify-content: space-between;

  a {
    padding: 10px 0;
    * {
      display: inline-block;
    }
  }
  p {
    font-weight: bold;

    padding-left: 10px;

    text-transform: uppercase;
  }

  &__menu {
    cursor: pointer;
    &-expanded {
      .bar-1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
      }
      .bar-2 {
        opacity: 0;
      }
      .bar-3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
      }
    }
  }
  &__bar {
    width: 35px;
    height: 2px;
    margin: 9px 0;

    transition: .4s;

    background-color: white;
  }
}



/* hero */

.hero {
  display: flex;
  flex-direction: column;

  height: 80%;
  padding: 10px 20px 0;

  text-align: center;

  justify-content: space-between;
  h1 {
    font-weight: 900;
  }
  p {
    padding-bottom: 10px;
  }
  input {
    width: 100%;
    max-width: 500px;
    padding: 15px 15px;

    border: 2px solid $dark-brown;
    border-radius: 500px;
    &::placeholder {
      text-align: center;

      color: $light-grey;
    }
  }
}



/* content */

.content {
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 0 20px;

  text-align: center;
  h2 {
    padding-bottom: 30px;

    text-transform: uppercase;

    color: $light-grey;
  }
}



/* places */

.places {
  margin-bottom: 50px;
  padding-right: 15px;
  padding-left: 15px;
}

.locations {
  position: relative;

  margin-bottom: 30px;
  &__card {
    position: relative;
    &:after {
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      content: '';

      border-radius: 5px;
      background: rgba(0, 0, 0, .3);
    }
    &:hover:after {
      background: none;
    }
  }
  img {
    border-radius: 5px;
  }
  &__caption {
    font-weight: bold;

    position: absolute;
    bottom: 20px;
    left: 15px;

    color: white;
    h3 {
      font-size: 1.3em;
    }
    p {
      font-size: 1em;

      color: $dark-brown;
    }
  }
  &__btn {
    color: $dark-brown;
    border: 1px solid;
  }
}



/* blog */

.blog {
  color: white;
  position: relative;
  background: url(http://res.cloudinary.com/do8buqscj/image/upload/q_auto/v1511733537/borno_pqjtw1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right center;
  height: 50%;
  h3 {
    font-size: 1em;

    padding: 30px 0;
    text-transform: uppercase;

    color: $light-brown;
  }
  p {
    font-size: 3em;
    font-weight: bold;
    line-height: 44px;

    padding-bottom: 30px;
  }
}

.blog-list {
  padding-right: 15px;
  padding-left: 15px;
  background: linear-gradient($red, $brown);
  clip-path: polygon(0 0, 60% 0, 40% 100%, 0 100%);
  height: 100%;
  p {
    position: absolute;
  }
}

.blog-item {
  max-width: 1000px;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  text-align: left;
  padding-left: 15px;
  * {
    max-width: 300px;
  }
}


/* footer */

footer {
  padding: 15px 0;

  text-align: center;

  color: $light-grey;
  * {
    padding-bottom: 5px;
  }
  a {
    font-weight: bold;

    text-decoration: none;
  }
}

/* media queries */
@media screen and(min-width: 600px) {
  .content p {
    max-width: 600px;
    margin: 0 auto;
  }

  .nav__links {
    width: 550px;
    &_collapsed {
      transform: translate(-550px, 0);
    }
  }

  .hero h1 {
    max-width: 600px;
    margin: auto;
  }

  .places {
    display: grid;
    grid-template-columns: repeat(3, 32%);
    grid-gap: 2%;
    margin: 0 auto 50px;
    max-width: 1000px;
  }
  .locations__btn {
    grid-column: 2/3;
  }

  .blog-list {
    display: inline-block;
    width: 50%;
  }

  .blog img {
    width: 50%;

  }
}

@media screen and (min-width: 900px) {
  header {
    height: 90%;
  }
  .hero div {
    position: absolute;
    bottom: 7%;
    width: 500px;
    left: 50%;
    margin-left: -250px;
  }

  .nav__links {
    width: 100%;
    margin: initial;
    left: 0;
    right: 0;
    &_collapsed {
      transform: unset;
    }
    ul {
      position: absolute;
      top: -40px;
      left: 50%;
      transform: translateX(-50%);
      border: none;
    }
    li {
      display: inline-block;
      margin-right: 20px;
    }
    a {
      padding-left: 20px;
      padding-right: 20px;
      border-radius: 500px;
    }
  }
  .nav__btn {
    width: initial;
    position: absolute;
    top: -40px;
    right: 20px;
    margin: auto;
  }

  .nav-header__menu {
    display: none;
  }
}

