@import "normalize";

$light-grey: #C3C0C0;
$red: #EB5757;
$brown: #D59152;
$dark-brown: #D78E52;

body,html {
	width: 	100%;
	height: 100%;
	font-family: 'Catamaran', sans-serif;
}

header {
	background: linear-gradient($red, $brown);
	color: white;
	height: 100%;
}

/* components */
.btn {
	border-radius: 500px;
	padding: 10px 30px;
	margin: 0 auto;
	text-align: center;
	display: block;
	text-transform: uppercase;
}


/* typography */
h1 {
	font-size: 	3.5em;
}
p {
	font-size: 	1.1em;
	line-height: 24px;
}

/* navbar */
.nav {
	padding: 10px 20px;
	position: relative;

	&__links {
		text-transform: uppercase;
		background: $red;
		position: absolute;
		margin-left: -20px;
		width: 300px;
		transition: transform .3s ease;

		&_collapsed {
			transform: translate(-300px, 0);
		}

		&_expanded {
			transform: 	translate(0,0);
		}

		a {
			padding: 10px 0;
			display: block;
		}

		ul {
			padding-left: 20px;
		}
	}
}

.nav-header {
	display: flex;
	justify-content: space-between;

	a {
		padding: 10px 0;
		* {
			display: inline-block;
		}
	}
	p {
		font-weight: bold;
		padding-left: 10px;
		text-transform: uppercase;
	}

	&__menu {
		cursor: pointer;
		&-expanded {
			.bar-1 {
				-webkit-transform: rotate(-45deg) translate(-9px, 6px);
		    				transform: rotate(-45deg) translate(-9px, 6px);
			}
			.bar-2 {
				opacity: 0;
			}
			.bar-3 {
				-webkit-transform: rotate(45deg) translate(-8px, -8px);
								transform: rotate(45deg) translate(-8px, -8px);
			}
		}
	}
	&__bar {
		width: 35px;
    height: 2px;
    background-color: white;
    margin: 9px 0;
    transition: 0.4s;
	}
}

/* hero */
.hero {
	text-align: center;
	height: 80%;
	padding: 10px 20px 0;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	h1 {
		font-weight: 900;
	}
	p {
		padding-bottom: 10px;
	}
	input {
		width: 100%;
		padding: 15px 15px;
		border: none;
		border-radius: 500px;
		&::placeholder {
			color: $light-grey;
			text-align: center;
		}
	}
}

/* content */
.content {
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
	padding: 0 20px;
	h2 {
		color: $light-grey;
		padding-bottom: 30px;
		text-transform: uppercase;
	}
}

/* places */
.places {
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 50px;
}

.locations {
	position: relative;
	margin-bottom: 30px;
	&__card {
		position: relative;
		&:after {
			content: '';
			position: absolute;
			background: rgba(0,0,0,0.3);
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border-radius: 5px;
		}
		&:hover:after {
			background: none;
		}
	}
	img {
		border-radius: 5px;
	}
	&__caption {
		position: absolute;
		left: 15px;
		bottom: 20px;
		color: white;
		font-weight: bold;
		h3 {
			font-size: 1.3em;
		}
		p {
			font-size: 1em;
			color: $dark-brown;
		}
	}
	&__button {
		color: $dark-brown;
		border: 1px solid;
	}
}