/*
 * Fix
 * Version 0.1.1
 * https://github.com/jaydenseric/Fix
*/
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent; }

body {
  margin: 0;
  line-height: 1;
  font-family: sans-serif; }

iframe {
  border: 0; }

main {
  display: block; }

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0; }

li {
  display: block; }

dl {
  margin-top: 0;
  margin-bottom: 0; }

dd {
  margin-left: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: inherit; }

blockquote {
  margin: 0;
  padding: 0; }

p {
  margin-top: 0;
  margin-bottom: 0; }

sup {
  position: relative;
  top: -.5em;
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0; }

strong {
  font-weight: bold; }

figure {
  margin: 0; }

img {
  border: 0;
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

a {
  text-decoration: none;
  color: inherit; }

button {
  border: 0;
  margin: 0;
  padding: 0;
  text-align: inherit;
  text-transform: inherit;
  font: inherit;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit;
  background: none;
  cursor: pointer;
  overflow: visible; }

::-moz-focus-inner {
  border: 0;
  padding: 0; }

body, html {
  width: 100%;
  height: 100%;
  font-family: 'Catamaran', sans-serif; }

header {
  background: linear-gradient(#EB5757, #D59152);
  color: white;
  height: 100%; }

/* components */
.btn {
  border-radius: 500px;
  padding: 10px 30px;
  margin: 0 auto;
  text-align: center;
  display: block;
  text-transform: uppercase; }

/* typography */
h1 {
  font-size: 3.5em; }

p {
  font-size: 1.1em;
  line-height: 24px; }

/* navbar */
.nav {
  padding: 10px 20px;
  position: relative; }
  .nav__links {
    text-transform: uppercase;
    background: #EB5757;
    position: absolute;
    margin-left: -20px;
    width: 300px;
    transition: transform .3s ease; }
    .nav__links_collapsed {
      transform: translate(-300px, 0); }
    .nav__links_expanded {
      transform: translate(0, 0); }
    .nav__links a {
      padding: 10px 0;
      display: block; }
    .nav__links ul {
      padding-left: 20px; }

.nav-header {
  display: flex;
  justify-content: space-between; }
  .nav-header a {
    padding: 10px 0; }
    .nav-header a * {
      display: inline-block; }
  .nav-header p {
    font-weight: bold;
    padding-left: 10px;
    text-transform: uppercase; }
  .nav-header__menu {
    cursor: pointer; }
    .nav-header__menu-expanded .bar-1 {
      -webkit-transform: rotate(-45deg) translate(-9px, 6px);
      transform: rotate(-45deg) translate(-9px, 6px); }
    .nav-header__menu-expanded .bar-2 {
      opacity: 0; }
    .nav-header__menu-expanded .bar-3 {
      -webkit-transform: rotate(45deg) translate(-8px, -8px);
      transform: rotate(45deg) translate(-8px, -8px); }
  .nav-header__bar {
    width: 35px;
    height: 2px;
    background-color: white;
    margin: 9px 0;
    transition: 0.4s; }

/* hero */
.hero {
  text-align: center;
  height: 80%;
  padding: 10px 20px 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column; }
  .hero p {
    padding-bottom: 10px; }
  .hero input {
    width: 100%;
    padding: 15px 15px;
    border: none;
    border-radius: 500px; }
    .hero input::placeholder {
      color: #C3C0C0;
      text-align: center; }

/* content */
.content {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  padding: 0 20px; }
  .content h2 {
    color: #C3C0C0;
    padding-bottom: 30px;
    text-transform: uppercase; }

/* places */
.places {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 50px; }

.locations {
  position: relative;
  margin-bottom: 30px; }
  .locations__card {
    position: relative; }
    .locations__card:after {
      content: '';
      position: absolute;
      background: rgba(0, 0, 0, 0.3);
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 5px; }
    .locations__card:hover:after {
      background: none; }
  .locations img {
    border-radius: 5px; }
  .locations__caption {
    position: absolute;
    left: 15px;
    bottom: 20px;
    color: white;
    font-weight: bold; }
    .locations__caption h3 {
      font-size: 1.3em; }
    .locations__caption p {
      font-size: 1em;
      color: #D78E52; }
  .locations__button {
    color: #D78E52;
    border: 1px solid; }
