/*
 * Fix
 * Version 0.1.1
 * https://github.com/jaydenseric/Fix
*/
* {
  box-sizing: border-box; }

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent; }

body {
  margin: 0;
  line-height: 1;
  font-family: sans-serif; }

iframe {
  border: 0; }

main {
  display: block; }

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0; }

li {
  display: block; }

dl {
  margin-top: 0;
  margin-bottom: 0; }

dd {
  margin-left: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: inherit; }

blockquote {
  margin: 0;
  padding: 0; }

p {
  margin-top: 0;
  margin-bottom: 0; }

sup {
  position: relative;
  top: -.5em;
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0; }

strong {
  font-weight: bold; }

figure {
  margin: 0; }

img {
  border: 0;
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

a {
  text-decoration: none;
  color: inherit; }

button {
  border: 0;
  margin: 0;
  padding: 0;
  text-align: inherit;
  text-transform: inherit;
  font: inherit;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit;
  background: none;
  cursor: pointer;
  overflow: visible; }

::-moz-focus-inner {
  border: 0;
  padding: 0; }

body,
html {
  font-family: 'Catamaran', sans-serif;
  width: 100%;
  height: 100%; }

header {
  height: 100%;
  color: white;
  background: linear-gradient(#eb5757, #d59152); }

/* components */
.btn {
  display: block;
  margin: 0 auto;
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 500px; }

/* typography */
h1 {
  font-size: 3.5em; }

p {
  font-size: 1.1em;
  line-height: 24px; }

/* navbar */
.nav {
  position: relative;
  padding: 10px 20px; }
  .nav__links {
    position: absolute;
    width: 300px;
    margin-left: -20px;
    transition: transform .3s ease;
    text-transform: uppercase;
    background: #eb5757; }
    .nav__links_collapsed {
      transform: translate(-300px, 0); }
    .nav__links_expanded {
      transform: translate(0, 0); }
    .nav__links a {
      display: block;
      padding: 15px 0; }
      .nav__links a:hover {
        background: white;
        color: #eb5757;
        font-weight: bold; }
    .nav__links ul {
      border-top: 1px solid white;
      padding-left: 20px;
      padding-bottom: 20px; }
  .nav__btn {
    width: 80%;
    margin-bottom: 20px;
    color: white;
    background: rgba(255, 255, 255, 0.2); }
    .nav__btn:hover {
      background: rgba(255, 255, 255, 0.5); }

.nav-header {
  display: flex;
  justify-content: space-between; }
  .nav-header a {
    padding: 10px 0; }
    .nav-header a * {
      display: inline-block; }
  .nav-header p {
    font-weight: bold;
    padding-left: 10px;
    text-transform: uppercase; }
  .nav-header__menu {
    cursor: pointer; }
    .nav-header__menu-expanded .bar-1 {
      -webkit-transform: rotate(-45deg) translate(-9px, 6px);
      transform: rotate(-45deg) translate(-9px, 6px); }
    .nav-header__menu-expanded .bar-2 {
      opacity: 0; }
    .nav-header__menu-expanded .bar-3 {
      -webkit-transform: rotate(45deg) translate(-8px, -8px);
      transform: rotate(45deg) translate(-8px, -8px); }
  .nav-header__bar {
    width: 35px;
    height: 2px;
    margin: 9px 0;
    transition: .4s;
    background-color: white; }

/* hero */
.hero {
  display: flex;
  flex-direction: column;
  height: 80%;
  padding: 10px 20px 0;
  text-align: center;
  justify-content: space-between; }
  .hero h1 {
    font-weight: 900; }
  .hero p {
    padding-bottom: 10px; }
  .hero input {
    width: 100%;
    max-width: 500px;
    padding: 15px 15px;
    border: 2px solid #d78e52;
    border-radius: 500px; }
    .hero input::placeholder {
      text-align: center;
      color: #c3c0c0; }

/* content */
.content {
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 0 20px;
  text-align: center; }
  .content h2 {
    padding-bottom: 30px;
    text-transform: uppercase;
    color: #c3c0c0; }

/* places */
.places {
  margin-bottom: 50px;
  padding-right: 15px;
  padding-left: 15px; }

.locations {
  position: relative;
  margin-bottom: 30px; }
  .locations__card {
    position: relative; }
    .locations__card:after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: '';
      border-radius: 5px;
      background: rgba(0, 0, 0, 0.3); }
    .locations__card:hover:after {
      background: none; }
  .locations img {
    border-radius: 5px; }
  .locations__caption {
    font-weight: bold;
    position: absolute;
    bottom: 20px;
    left: 15px;
    color: white; }
    .locations__caption h3 {
      font-size: 1.3em; }
    .locations__caption p {
      font-size: 1em;
      color: #d78e52; }
  .locations__btn {
    color: #d78e52;
    border: 1px solid; }

/* blog */
.blog {
  color: white;
  position: relative;
  background: url(http://res.cloudinary.com/do8buqscj/image/upload/q_auto/v1511733537/borno_pqjtw1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right center;
  height: 50%; }
  .blog h3 {
    font-size: 1em;
    padding: 30px 0;
    text-transform: uppercase;
    color: #febe61; }
  .blog p {
    font-size: 3em;
    font-weight: bold;
    line-height: 44px;
    padding-bottom: 30px; }

.blog-list {
  padding-right: 15px;
  padding-left: 15px;
  background: linear-gradient(#eb5757, #d59152);
  clip-path: polygon(0 0, 60% 0, 40% 100%, 0 100%);
  height: 100%; }
  .blog-list p {
    position: absolute; }

.blog-item {
  max-width: 1000px;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  text-align: left;
  padding-left: 15px; }
  .blog-item * {
    max-width: 300px; }

/* footer */
footer {
  padding: 15px 0;
  text-align: center;
  color: #c3c0c0; }
  footer * {
    padding-bottom: 5px; }
  footer a {
    font-weight: bold;
    text-decoration: none; }

/* media queries */
@media screen and (min-width: 600px) {
  .content p {
    max-width: 600px;
    margin: 0 auto; }
  .nav__links {
    width: 550px; }
    .nav__links_collapsed {
      transform: translate(-550px, 0); }
  .hero h1 {
    max-width: 600px;
    margin: auto; }
  .places {
    display: grid;
    grid-template-columns: repeat(3, 32%);
    grid-gap: 2%;
    margin: 0 auto 50px;
    max-width: 1000px; }
  .locations__btn {
    grid-column: 2/3; }
  .blog-list {
    display: inline-block;
    width: 50%; }
  .blog img {
    width: 50%; } }

@media screen and (min-width: 900px) {
  header {
    height: 90%; }
  .hero h1 {
    max-width: 700px;
    margin: auto; }
  .hero div {
    position: absolute;
    bottom: 7%;
    width: 500px;
    left: 50%;
    margin-left: -250px; }
  .nav__links {
    width: 100%;
    margin: initial;
    left: 0;
    right: 0; }
    .nav__links_collapsed {
      transform: unset; }
    .nav__links ul {
      position: absolute;
      top: -40px;
      left: 50%;
      transform: translateX(-50%);
      border: none; }
    .nav__links li {
      display: inline-block;
      margin-right: 20px; }
    .nav__links a {
      padding-left: 20px;
      padding-right: 20px;
      border-radius: 500px; }
  .nav__btn {
    width: initial;
    position: absolute;
    top: -40px;
    right: 20px;
    margin: auto; }
  .nav-header__menu {
    display: none; }
  .footer-items {
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1200px;
    margin: auto; }
  #coypright {
    order: 3; }
  nav {
    max-width: 1200px;
    margin: auto; } }
