header {
  height: 100%;

  color: white;
  background: linear-gradient($red, $brown);
}

/* navbar */

.nav {
  position: relative;

  padding: 10px 20px;

  &__links {
    position: absolute;

    width: 300px;
    margin-left: -20px;

    transition: transform .3s ease;
    text-transform: uppercase;

    background: $red;

    &_collapsed {
      transform: translate(-300px, 0);
    }

    &_expanded {
      transform: translate(0, 0);
    }

    a {
      display: block;

      padding: 15px 0;
      &:hover {
        background: white;
        color: $red;
        font-weight: bold;
      }
    }

    ul {
      border-top: 1px solid white;
      padding-left: 20px;
      padding-bottom: 20px;
    }
  }
  &__btn {
    width: 80%;
    margin-bottom: 20px;

    color: white;
    background: rgba(255, 255, 255, .2);
    &:hover {
      background: rgba(255,255,255,.5);
    }
  }
}

.nav-header {
  display: flex;

  justify-content: space-between;

  a {
    padding: 10px 0;
    * {
      display: inline-block;
    }
  }
  p {
    font-weight: bold;

    padding-left: 10px;

    text-transform: uppercase;
  }

  &__menu {
    cursor: pointer;
    &-expanded {
      .bar-1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
      }
      .bar-2 {
        opacity: 0;
      }
      .bar-3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
      }
    }
  }
  &__bar {
    width: 35px;
    height: 2px;
    margin: 9px 0;

    transition: .4s;

    background-color: white;
  }
}
